body
  +light
  color: $text-color
.bg-secondary
  background-color: $bg-secondary
.section
  padding: 75px 0
  &-title
    font-size: 24px
    +light
    text-align: left
  &__title
    margin-bottom: 75px
    margin-top: 0

a
  text-decoration: none
  color: #000
.link
  color: #565656
.button-o
  border: 1px solid $primary
  padding: 17px 22px
  font-size: 16px
  text-transform: uppercase
  background-color: transparent
  color: $primary
  cursor: pointer
  +reg
.button
  border: none
  font-size: 16px
  text-transform: uppercase
  padding: 25px 45px
  background: $primary
  color: #fff
  cursor: pointer
  +reg
  &_flex
    padding: 0
    display: flex
    justify-content: center
    align-items: center
  &-like
    background: url('../img/interface/like.svg') $primary no-repeat center center
    width: 15px
    box-sizing: content-box
    background-size: 19px
  &-centered
    display: inline-block
    position: relative
    left: 50%
    transform: translateX(-50%)

.wrap-list
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  &-item
    flex-basis: 19.3%
    box-shadow: 4px 5px 30px rgba($primary, .24)
    text-align: center
    background-color: #fff
  &__item
    margin-bottom: 10px
  &-img
    height: 150px
    background-size: cover
    background-position: center
  &__name
    +reg
    &-wrap
      padding: 20px
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
.wrap-list_large-items
  &-item
    flex-basis: 33%
  &-img
    height: 200px

.form
  &__row
    display: flex
    margin-bottom: 25px
    &:last-child
      margin-bottom: 0
  &__label
    display: block
    font-size: 16px
    margin-bottom: 5px
  &__group
    width: 100%
  &__group:not(:last-child) > &__input
    border-right: none
  &__submit
    padding: 0
    height: 60px
  &__checkbox
    width: auto

.input
  height: 60px
  width: 100%
  padding-left: 30px
  border: 1px solid #ddd
  background-color: $bg-secondary
  &:focus
    outline: 0
.select
  appearance: none
  background-image: url()
  background-position: right .7em top 50%, 0 0
  &::-ms-expand
    display: none
.option
  height: 40px
  border: 1px solid #ddd
  background-color: $bg-secondary
.checkbox
  display: none
  &__label
    display: flex
    align-items: center
    margin-right: 42px
    cursor: pointer
    &::before
      content: ''
      display: inline-block
      margin-right: 20px
      width: 30px
      height: 30px
      border: 1px solid #ddd
      background-color: $bg-secondary
  &:checked + &__label::before
    background-color: $strawberry

@media (max-width: 991px)
  .button
    font-size: 14px
    padding: 20px 30px

  .wrap-list
    justify-content: space-between
    &-item
      min-width: 180px
      flex-basis: 24%
  .wrap-list_large-items
    &-item
      max-width: 600px
      flex-basis: 100%
    &__item:not(:last-child)
      margin-bottom: 38px

@media (max-width: 768px)
  .section
    padding: 50px 0
    &-title
      font-size: 20px
    &__title
      margin-bottom: 50px
  .wrap-list
    &-item
      flex-basis: 33%
    &-img
      height: 113px
    &__name
      &-wrap
        padding: 13px
  .wrap-list_large-items
    &-item
      flex-basis: 100%
  .button-o
    text-align: start
    padding: 10px 10px
    font-size: 12px
  .form
    &__group
      max-width: 90%
      margin-bottom: 20px
    &__group:not(:last-child) > &__input
      border-right: 1px solid #ddd
    &__row
      flex-direction: column
      &_checkbox
        flex-direction: row

@media (max-width: 480px)
  .wrap-list
    justify-content: space-around
    &-item
      flex-basis: 48%
  .wrap-list_large-items
    &-item
      flex-basis: 100%
