body
  +light
  color: $text-color
.button-o
  border: 2px solid $primary
  padding: 17px 22px
  font-size: 16px
  text-transform: uppercase
  background-color: transparent
  color: $primary
  +reg
.button
  border: none
  font-size: 16px
  text-transform: uppercase
  padding: 25px 45px
  background: $primary
  color: #fff
  +bold
