.features
  &__card
    display: flex
    align-items: start
    flex-basis: 33%
    margin-bottom: 62px
  &__text
    margin: 0
    margin-left: 15px
    +reg
  &__image
    width: 90px
  &-wrap
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    width: 80%

@media (max-width: 768px)
  .features
    &__card
      flex-basis: 50%
      margin-bottom: 35px

@media (max-width: 569px)
  .features
    &__card
      flex-basis: 100%
