.features
  &__card
    display: flex
    align-items: start
    flex-basis: 33%
    margin-bottom: 62px
  &__text
    margin: 0
    margin-left: 15px
    padding: 15px 26px
    position: relative
    border-radius: 50px 50px 50px 3px
    background-color: $bg-secondary
    letter-spacing: -0.01em
    +reg
    font-size: 17px
  &__image
    width: 85px

@media (max-width: 768px)
  .features
    &__card
      flex-basis: 50%
      margin-bottom: 35px

@media (max-width: 569px)
  .features
    &__card
      flex-basis: 100%
