.hero
  padding: 80px 0 75px
  background-color: $bg-secondary
  &-wrap
    display: flex
    position: relative
    height: 580px
    background: $bg-secondary
    &::before
      content: ''
      display: block
      position: absolute
      height: 51px
      width: 100%
      background-color: $bg-secondary
  &__menu-button
    padding: 0
    padding-top: 10px
    display: none // mobile => flex
    justify-content: space-around
    align-items: center
    flex-basis: 60px
    width: 55px
    border: none
    &>.menu-button__line
      width: 70%
      height: 1px
      background-color: #000
  &__block
    width: 33%
    height: 100%
    padding-top: 50px
    display: flex
    flex-direction: column
    justify-content: center

  &__image-wrap
    width: 1000px
    max-width: 67%
    height: 100%
    display: flex
  &__image
    background: #f1f1f1 url('../img/hero/hero-bg.jpg') no-repeat center left
  &__button
    width: 80%
    padding: 20px 0
  &__subtitle
    display: block
    font-size: 28px
    margin-bottom: 12px
    text-align: left
    +reg
    color: $primary
  &__title
    margin-bottom: 48px
    font-size: 34px
    max-width: 330px
    text-align: left
    +light
    text-transform: uppercase

@media (max-width: 1369px)
  .hero
    &__title
      max-width: 300px
      font-size: 32px

@media (max-width: 1199px)
  .hero
    &__title
      font-size: 28px

@media (max-width: 991px)
  .hero
    &__subtitle
      font-size: 19px
      text-align: left

@media (max-width: 768px)
  .hero
    &-wrap
      flex-direction: column
      &::before
        display: none
    &__block
      padding-top: 0
      width: 100%
    &__button
      width: 50%
      min-width: 180px
    &__title
      max-width: 100%
      font-size: 23px
    &__subtitle
      font-size: 16px
    &__image-wrap
      max-width: 100%
//mobile
@media (max-width: 569px)
  .hero
    &-wrap
      height: auto
      padding-bottom: 47px
    &__title
      margin-top: 48px
    &__button
      width: 40%
    &__menu-button
      display: flex
      z-index: 1
    &__block
      z-index: 1
    &__image-wrap
      position: absolute
      inset: 30px 0 0
    &__image
      background: #f1f1f1 url('../img/hero/hero-bg_569.jpg') no-repeat calc(50% + 123px) 46px
      background-size: 150%
