.info
  &__item
    border-radius: 7px 7px 0 0
    overflow: hidden
  &__header
    display: flex
    justify-content: space-between
    align-items: baseline
  &__title
    margin-bottom: 50px
  &__link_bottom
    display: none
  &__wrap
    &::after
      content: ''
      flex-basis: 19.3%

@media (max-width: 768px)
  .info
    &__header
      flex-wrap: wrap
    &__wrap
      &::after
        display: none

@media (max-width: 480px)
  .info
    &__link
      display: none
      &_bottom
        display: block
        margin-top: 50px
        text-align: right
