.menu
  width: 100%
  position: fixed
  top: 0px
  transition: .4s
  background-color: $primary
  z-index: 1
  &_active
    top: 80px
  &__link
    text-decoration: none
    font-size: 17px
    text-transform: uppercase
    color: #fff
  &__nav
    display: flex
    justify-content: space-around
    padding-top: 16px
    padding-bottom: 16px
  &-button
    flex-direction: column
    align-items: center
    justify-content: center
    background-color: transparent
    border: none
    border-right: 1px solid rgba(#510bba, 0.15)
    border-left: 1px solid rgba(#510bba, 0.15)
    height: 80px
    width: 70px
    cursor: pointer
    &__line
      display: block
      width: 20px
      height: 3px
      background-color: #89a9eb
      margin: 2px 0
