.navbar
  position: fixed
  top: 0
  left: 0
  width: 100%
  background-color: #fff
  border-bottom: 1px solid $primary
  z-index: 10
  &-wrap
    min-height: 80px
    display: flex
    justify-content: space-between
    align-items: center
  &__menu-button
    display: flex
    margin-right: 30px
  &__mobile, &__landline
    text-align: right
  &__phone
    display: block
    margin-bottom: 5px
    font-size: 19px
    +bold
    text-decoration: none
    color: $text-color
  &__small-text
    display: block
    font-size: 14px
    color: $text-color-light
    text-decoration: none

.logo
  &__text
    display: block
    margin-bottom: 5px
    font-size: 18px
    text-transform: uppercase
    +bold
  &__description
    display: block
    font-size: 14px
    color: $text-color-light

@media (max-width: 1199px)
  .navbar
    &__phone
      font-size: 14px
      +reg
    &__small-text
      font-size: 12px
@media (max-width: 991px)
  .navbar
    &__mobile, &__landline
      display: none

@media (max-width: 569px)
  .navbar
    &__menu-button
      display: none
